form {}
form label {display: block;}
form label input,
form label select {width: 70%; max-height: 3rem; padding: .8rem; box-sizing: border-box;}

form label input[type=checkbox] {--checkbox-size: 1.5rem; width: var(--checkbox-size); height: var(--checkbox-size);}